body {
  font-family: Graphik-Medium, sans-serif;

  /* use a img as background */
  background-repeat: no-repeat;
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero.jpg");
  background-size: cover;
  background-position: center;
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#login-form {
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  width: 80%;
  opacity: 0.9;
  align-items: center;
  display: flex;
  justify-content: center;
}

.auth-form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #333333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
}

input[type="submit"] {
  background-color: #555;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #777;
}
